@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui" 




.menu a.active{
    text-decoration: underline;
    color: palevioletred;
}


* {
    font-family: "Lora", serif;
    
}
